<div class="col-md-6">
    <h3>Create Role</h3>
    <form action="" method="post">
        <div class="form-group">
            <label>Role Name</label>
            <input type="text" name="roleName" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Create Role</button>
    </form>
    @if(ViewBag.message != null)
    {
        <div class="alert-danger">
            <p class="text-danger">@ViewBag.message</p>
        </div>
    }
</div>
